name: Pipeline
run-name: Deploy in live

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "*.md"

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - run: ls -la
      
      - name: Print message job1
        run: echo "Hello, Algo-${{ vars.NAME }}-MÃS!"
      
      - name: ECHO SECRETO
        run: echo "${{ secrets.SECRETO }}" > secreto.txt

      - name: Echo file
        run: |
            cat hola.txt
            cat secreto.txt
  
  job2:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Print message job2
        run: echo "Hello, world! job2"
